/* 사진첩.css */

.imgbox{
    margin-top: 20px;
    height: 300px;
}

.imgcard{
    height: 300px;
    width: 150px;
    margin: 0 10px;
    float: left;
}

.imgcard img{
    width: 100%;
}

.imgcard2{
    height: 300px;
    width: 150px;
    margin: 0 10px;
    float: left;
    background-size: contain;
}

.imgcard2 a{
    background: url("./1.png") no-repeat center;
    background-size: cover;
}
.imgcard2 b{
    background: url("./2.jpg") no-repeat center;
    background-size: cover;
}
.imgcard2 c{
    background: url("./3.jpg") no-repeat center;
    background-size: cover;
}
