/* position_style.css */

* { padding:0; margin:0}
#box1{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    left: 50px;
}

#box2{
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    position:relative;
    right: 100px;
    top: 50px;
}

#box2:hover{
    right:0px;
    transition:all 1s;
}

#box3{
    width: 120px;
    height: 120px;
    background-color: aqua;
    position: absolute;
    right: 100px;
    top: 50px;
}