#box1{
    width: 300px;
    height: 200px;
    background-color: lightgray;
    position:relative;
}

#box2{
    width: 80px;
    height: 50px;
    background-color: pink;
    position: absolute;
    right: 0px;
    bottom: 0px;
}