*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#wrap{
    width: 1200px;
    position: relative;
    margin: 0px;
}

#header{
    padding: 10px 20px;
}

#logoWrap{
    float: left;
}

.temname{
    font-size: 25px; /* 글자크기 */
    color: blue;  /* 글자색상 */
    text-decoration: none; /* 글자효과 */
    font-weight: 500; /* 글자굵기 */
    padding: 3px 7px;
    margin: 0 20px;
    float: left;
}
