*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.top {
    padding: 30px 50px;
    margin: 0 10%;
    position: relative;
    z-index: 1; /* 이미지 좌표 앞으로 보내기*/
    border-bottom: 1px solid rgb(50, 50, 50);
    overflow: hidden;
}

.menuBar {
    display: flex;
    justify-content: space-between; /* 로고 아이콘 각각 양쪽에 붙이기 */
    align-items: center; /* 가운데 정렬 */
    gap: 20px;
}

.menuLogo img {
    display: flex;
    width: max(80px, 3vw);
    align-items: center;
}

.menuLogo p{
    margin: 0
}

.menuButton {
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}

.menuButton p {
    margin: 0;
    font-size: min(20px, 3vw);
    color: rgb(50, 50, 50);
    line-height: 1;
    transition: transform 0.3s ease;
}

.menuButton p:hover {
    color: #2877ea;
}

.menuButton a {
    text-decoration: none;
}

.menuButton img {
    width: 40px;
}

/* -------------------------------- */

.main {
    padding: 150px 50px 260px 50px;
    margin: 0 10%;
}

.mainFlex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.mainImage {
    border-radius: 40px;
    width: 60%;
    height: 500px;
    overflow: hidden /* 이미지 크롭 */
}

.mainImage img {
    width: 100%; /* 부모 박스 너비에 꽉 차게 */
    height: 100%; /* 부모 박스 높이에 꽉 차게 */
    object-fit: cover; /* 비율을 유지하면서 박스 채움 */
    transform: scale(1.3) translateY(-45px);
    object-position: 80% center;
    transition: 1s ease-in-out;
}

.mainImage img:hover {
    scale: 1.1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mainCopy {
    animation: fadeIn 1.5s ease-out forwards;
}


.mainCopy h1{
    padding: 10px 0px;
    font-size: 50px;
    color: rgb(50, 50, 50);
}

.mainCopy p{
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #2877ea;
    color: white;

}

.mainCopy p2{
    margin: 150px 0px 0px 0px;
    font-size: 23px;
    color: #8cbaff;
}
/* -------------------------------- */

#bottomBar {
    padding: 50px 200px;
    background-color: #2877ea;
    z-index: 1;
    position: relative;
}

/* -------------------------------- */

.bottomInfo h5{
    flex: 1;                
    margin: 0;              
    font-weight: 400;       
    font-size: 14px;      
}

#bottomText1 {
    text-align: left;
}

#bottomText {
    text-align: right;
}

.bottomInfo img {
    width: 40px;   
}

.bottomInfo {
    display: flex;           /* 가로 배치 시작 */
    justify-content: space-between; /* 양쪽 끝으로 벌리기 */
    width: 100%;             /* 전체 너비 */
    color: white;
}

.imagebox3 {
    display: flex;
    background-color: #2877ea;
    height: 100px;
    align-items: center;
    padding: 0px 40px;
}


/* -------------------------------- */

.chartFlex {
    display: flex;
    background-color: #2877ea;
    /* justify-content: space-between; */
}

.chartMain {
    width: 450px;
    margin: 70px auto 70px auto;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
    background: linear-gradient(#e0ecff, #ffffff);
}

.chartSide {
    background:linear-gradient(#2877ea, #1ec692);
    width:50%;
    height: 950px;
    display: flex;
    align-items: center;
}

.chartSideText1 {
    margin-left: 30%;
}

.chartSideText1 #sideText1{
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 50px;
}

.chartSideText1 #sideText2{
    color: white;
    text-align: left;
    font-size: 20px;
    opacity: 60%;
}

.sideBt {
    border: 1px;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    max-width: 220px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    background-color: #ffffff;
    transition: inherit;
    cursor: pointer;
    color: #2877ea;
    transition: .3s ease-in-out;
}

.sideBt:hover {
    color: white;
    background-color: #2877ea;
}

.chartText1 {
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    color:rgb(50, 50, 50);
    font-size: 17px;
    font-weight: 600;
    flex-wrap: wrap;
}

.ctText1, .ctText2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap:10px;
}

.textBox {
    height: 40px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgb(216, 216, 216);
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 20px;
    transition: .3s ease-out;
   
}

#chartBt {
    border: 1px;
    margin-bottom: 20px;
    border-radius: 50px;
    width: 100%;
    max-width: 220px;
    color: #ffffff;
    font-size: 20px;
    height: 50px;
    background-color: #2877ea;
    transition: inherit;
    opacity: 80%;
    cursor: pointer;
}

#chartBt:hover {
    color: white;
    background-color: #004be1;
}

.chart {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
}

.chartTable{
    width: 100%;
    max-width: 720%;
    border-collapse: collapse;
}

.chartTable th {
    border-bottom: 1px solid #2877ea;
    color: #4e4e4e;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.chartTable td {
    color: rgb(50, 50, 50);
    font-size: 20px;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #a4c8ff;
}

.chartTotal {
    padding: 0px 80px 40px 80px;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chartTotal p1 {
    color: rgb(50, 50, 50);
    font-weight: bold;
    font-size: 20px;
}

.chartTotal p2 {
    font-weight: bold;
    color: #2877ea;
    font-size: 20px;
}
